<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="DatabaseSettings" type="RemotingTask.Server.Database.DatabaseSettings, RemotingTask.Server" />
	  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

	<appSettings>
		<add key="TcpPort" value="1234"/>
	</appSettings>
	
	<DatabaseSettings DBHost="localhost" DBPort="14330" DBName="FairTaskDb" DBUser="sa" DBPW="secret_pAssw0rd" />

	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.2445" newVersion="2.1.10.2445" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>