<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseSettings" type="RemotingTask.Server.Database.DatabaseSettings, RemotingTask.Server" />
	</configSections>

	<DatabaseSettings DBHost="localhost" DBPort="14333" DBName="E2ETestDb" DBUser="sa" DBPW="secret_pAssw0rd" />

</configuration>